.navbar-inner{
  float: left;
  text-align: center;
  width: 100%;
}
#food{
	font-weight:bold;
}

.place{
	color: #E81B45;
}

#cash{
	color: #5CB85C;
	font-weight:900;
}

#buy{
	text-align: center;
}
.navbar-center{
  float: none;
}

.navbar{
  height: 10%;
  width: auto;
  background-color: white;
  border-color: white;
  opacity: .85;
}

body {
  padding-top: 70px;
}

.thumbnail img {
  padding: none;
}

span {
  color: #E81B45;
}

.btn-lg{
	width: 80%;
	height: auto;
	margin-bottom: 5%;
	margin-top: 2.5%;
}

footer {
  margin: 50px 0;
}